* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--color-light-1: #eeeeee;
	--color-light-2: #f5f9fa;
	--color-light-3: #e4f0f5;
	--color-blue: #3d7e9a;
	--color-dark-1: #333;
	--color-bg-gray: rgba(220, 220, 220, 0.5);
	--font-size-0: 0.9em;
	--font-size-1: 1em;
	--font-size-2: 1.3em;
	--font-size-3: 1.5em;
	--font-size-4: 2.5em;
	--border-bottom-blue: 3px solid var(--color-blue);
	--border-left-blue: 5px solid var(--color-blue);
}

body {
	margin-bottom: 100px;
}

p {
	margin: 20px 0px;
}

h4 {
	margin: 20px 0px;
}

ul {
	margin-top: 30px;
}

li {
	margin-bottom: 10px;
}

h2::before {
	content: '';
	border-bottom: var(--border-bottom-blue);
	margin: 50px 0 50px;
	display: block;
}

h2 {
	font-size: var(--font-size-4);
	font-weight: 800;
	margin: 0 0 20px;
}

h3 {
	margin: 20px 0;
}

.codejs {
	font-family: monospace;
	font-size: var(--font-size-0);
}

.nav {
	display: flex;
	background-color: var(--color-light-2);
	height: 100px;
	align-items: center;
}

.nav h1 {
	flex-grow: 1;
	margin-left: 30px;
	font-size: var(--font-size-4);
	font-weight: bold;
}

.nav a {
	margin-right: 60px;
	font-size: var(--font-size-2);
}

.container {
	display: flex;
}

.container_aside {
	flex-basis: 27%;
}

.main_column {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin-right: 200px;
}

.text p {
	margin: 40px 0 0;
}

.sandbox {
	background-color: var(--color-light-3);
	border-left: var(--border-left-blue);
	color: var(--color-dark-1);
	margin-bottom: 20px;
	display: block;
}
.sandbox code {
	font-family: monospace;
}

.sandbox .code {
	padding: 15px;
	display: block;
	line-height: 1.5;
	font-family: monospace;
}

.sandboxjs {
	background-color: var(--color-light-1);
	border-left: var(--border-left-blue);
	color: var(--color-dark-1);
	margin-bottom: 20px;
	display: block;
}

.sandboxjs .codejs {
	padding: 15px;
	display: block;
	line-height: 1.5;
}

.subtitle {
	font-family: monospace;
	font-size: var(--font-size-0);
}

.subtitle {
	background-color: var(--color-dark-1);
	color: #fff;
	font-size: var(--font-size-3);
	text-align: left;
	padding: 2px 5px 2px 30px;
	font-weight: 300;
}

.highlight {
	background-color: var(--color-bg-gray);
	border-radius: 2px;
	padding: 1px 3px;
	color: var(--color-dark-1);
	font-family: monospace;
}

.bluehighlight {
	background-color: var(--color-bg-gray);
	border-radius: 2px;
	padding: 1px 3px;
	color: var(--color-blue);
}

.tab {
	margin: 10px 20px;
}

ul::after {
	content: '';
	border-bottom: var(--border-bottom-blue);
	margin: 60px 0 0;
	display: block;
}

a {
	text-decoration: none;
}

.mono {
	font-family: monospace;
	font-size: var(--font-size-0);
}
